body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

h1 {
  margin-top: 30px;
  color: #6495ED; /* Blu */
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
  margin: 20px auto;
  width: 306px;
  background-color: #6495ED; /* Blu */
  border: 2px solid #333;
  border-radius: 5px;
}

.cell {
  background-color: #87CEEB; /* Celeste */
  border: 1px solid #333;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cell:hover {
  background-color: #4682B4; /* Blu scuro */
}

#result {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
  color: #333;
}
